<h1>Ticketing Hub Application</h1>

<p>We will take care of your requests!</p>

<p>this is header, will be shown on every page</p>

{{link-to 'Home' 'application'}}

{{#link-to 'login'}}Login{{/link-to}}

{{link-to 'Dashboard' 'dashboard'}}

{{outlet}}