<div class="text-center">
  <h4 id="title">Company List</h4>
</div>

<ul>
  {{#each model as |company|}}
    <li>
      {{#link-to 'company' company}}
        {{company.name}}
      {{/link-to}}
      <button {{action 'delete' company}}>Delete</button>
    </li>
  {{/each}}
</ul>
